.xterm {
  cursor: text;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.xterm.focus,
.xterm:focus {
  outline: none;
}
.xterm .xterm-helpers {
  z-index: 5;
  position: absolute;
  top: 0;
}
.xterm .xterm-helper-textarea {
  opacity: 0;
  z-index: -5;
  white-space: nowrap;
  resize: none;
  border: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: -9999em;
  overflow: hidden;
}
.xterm .composition-view {
  color: #fff;
  white-space: nowrap;
  z-index: 1;
  background: #000;
  display: none;
  position: absolute;
}
.xterm .composition-view.active {
  display: block;
}
.xterm .xterm-viewport {
  cursor: default;
  background-color: #000;
  position: absolute;
  inset: 0;
  overflow-y: scroll;
}
.xterm .xterm-screen {
  position: relative;
}
.xterm .xterm-screen canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.xterm .xterm-scroll-area {
  visibility: hidden;
}
.xterm-char-measure-element {
  visibility: hidden;
  line-height: normal;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -9999em;
}
.xterm.enable-mouse-events {
  cursor: default;
}
.xterm.xterm-cursor-pointer,
.xterm .xterm-cursor-pointer {
  cursor: pointer;
}
.xterm.column-select.focus {
  cursor: crosshair;
}
.xterm .xterm-accessibility:not(.debug),
.xterm .xterm-message {
  z-index: 10;
  color: #0000;
  pointer-events: none;
  position: absolute;
  inset: 0;
}
.xterm .xterm-accessibility-tree:not(.debug) ::selection {
  color: #0000;
}
.xterm .xterm-accessibility-tree {
  -webkit-user-select: text;
  user-select: text;
  white-space: pre;
}
.xterm .live-region {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -9999px;
  overflow: hidden;
}
.xterm-dim {
  opacity: 1 !important;
}
.xterm-underline-1 {
  text-decoration: underline;
}
.xterm-underline-2 {
  -webkit-text-decoration: underline double;
  text-decoration: underline double;
}
.xterm-underline-3 {
  -webkit-text-decoration: underline wavy;
  text-decoration: underline wavy;
}
.xterm-underline-4 {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
.xterm-underline-5 {
  -webkit-text-decoration: underline dashed;
  text-decoration: underline dashed;
}
.xterm-overline {
  text-decoration: overline;
}
.xterm-overline.xterm-underline-1 {
  text-decoration: underline overline;
}
.xterm-overline.xterm-underline-2 {
  -webkit-text-decoration: overline double underline;
  text-decoration: overline double underline;
}
.xterm-overline.xterm-underline-3 {
  -webkit-text-decoration: overline wavy underline;
  text-decoration: overline wavy underline;
}
.xterm-overline.xterm-underline-4 {
  -webkit-text-decoration: overline dotted underline;
  text-decoration: overline dotted underline;
}
.xterm-overline.xterm-underline-5 {
  -webkit-text-decoration: overline dashed underline;
  text-decoration: overline dashed underline;
}
.xterm-strikethrough {
  text-decoration: line-through;
}
.xterm-screen .xterm-decoration-container .xterm-decoration {
  z-index: 6;
  position: absolute;
}
.xterm-screen
  .xterm-decoration-container
  .xterm-decoration.xterm-decoration-top-layer {
  z-index: 7;
}
.xterm-decoration-overview-ruler {
  z-index: 8;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
}
.xterm-decoration-top {
  z-index: 2;
  position: relative;
}
[data-codex-xterm] .xterm {
  background-color: #0000 !important;
  height: 100% !important;
}
[data-codex-xterm] .xterm-viewport {
  scrollbar-color: var(--color-token-scrollbar-slider-background)
    var(--vscode-terminal-background);
  background-color: #0000 !important;
}
[data-codex-xterm] .xterm-viewport:hover {
  scrollbar-color: var(--color-token-scrollbar-slider-hover-background)
    var(--vscode-terminal-background);
}
[data-codex-xterm] .xterm-viewport:active {
  scrollbar-color: var(--color-token-scrollbar-slider-active-background)
    var(--vscode-terminal-background);
}
[data-codex-xterm] .xterm-viewport::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
[data-codex-xterm] .xterm-viewport::-webkit-scrollbar-corner {
  background-color: var(--vscode-terminal-background);
}
[data-codex-xterm] .xterm-viewport::-webkit-scrollbar-track {
  background-color: var(--vscode-terminal-background);
}
[data-codex-xterm] .xterm-viewport::-webkit-scrollbar-thumb {
  background-color: var(--color-token-scrollbar-slider-background);
}
[data-codex-xterm] .xterm-viewport::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-token-scrollbar-slider-hover-background);
}
[data-codex-xterm] .xterm-viewport::-webkit-scrollbar-thumb:active {
  background-color: var(--color-token-scrollbar-slider-active-background);
}
._root_pgkoy_1 input:focus {
  outline: none !important;
}
._cadencedShimmer_1q6es_1 {
  text-fill-color: currentColor;
  -webkit-text-fill-color: currentColor;
  background: 0 0;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  animation: none;
  position: relative;
}
@layer components {
  ._cadencedShimmer_1q6es_1,
  ._cadencedShimmer_1q6es_1 * {
    color: var(--shimmer-text-secondary) !important;
  }
  ._cadencedShimmer_1q6es_1 ._cadencedShimmerHighlight_1q6es_17,
  ._cadencedShimmer_1q6es_1 ._cadencedShimmerHighlight_1q6es_17 * {
    color: var(--shimmer-contrast) !important;
  }
}
._cadencedShimmerSweep_1q6es_23 {
  pointer-events: none;
  width: 100%;
  position: absolute;
  inset: 0 auto 0 0;
  overflow: hidden;
  transform: translate(-50%);
  -webkit-mask-image: linear-gradient(
    90deg,
    #0000 0%,
    #000 20% 30%,
    #0000 50% 100%
  );
  mask-image: linear-gradient(90deg, #0000 0%, #000 20% 30%, #0000 50% 100%);
}
._cadencedShimmerHighlight_1q6es_17 {
  text-fill-color: currentColor;
  -webkit-text-fill-color: currentColor;
  width: 100%;
  display: block;
  transform: translate(50%);
}
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerSweep_1q6es_23,
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerHighlight_1q6es_17 {
  animation-duration: 1s;
  animation-timing-function: steps(48, end);
  animation-iteration-count: 1;
}
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerSweep_1q6es_23 {
  animation-name: _cadencedLoadingShimmerSweep_1q6es_1;
}
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerHighlight_1q6es_17 {
  animation-name: _cadencedLoadingShimmerHighlight_1q6es_1;
}
@media (prefers-reduced-motion: reduce) {
  ._cadencedShimmerActive_1q6es_56 ._cadencedShimmerSweep_1q6es_23,
  ._cadencedShimmerActive_1q6es_56 ._cadencedShimmerHighlight_1q6es_17 {
    animation: none;
  }
}
@keyframes _cadencedLoadingShimmerSweep_1q6es_1 {
  0% {
    transform: translate(-50%);
  }
  to {
    transform: translate(125%);
  }
}
@keyframes _cadencedLoadingShimmerHighlight_1q6es_1 {
  0% {
    transform: translate(50%);
  }
  to {
    transform: translate(-125%);
  }
}
