._statusPillProgress_1a6wl_1 {
  opacity: 0;
  transform-origin: 0;
  animation-name: _statusPillProgress_1a6wl_1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes _statusPillProgress_1a6wl_1 {
  0% {
    opacity: 0;
    transform: scaleX(1);
  }
  .001% {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    opacity: 1;
    transform: scaleX(0);
  }
}
