._activityStackFadeTop_1myqb_1 {
  -webkit-mask-image: linear-gradient(#0000, #000 24px 100%);
  mask-image: linear-gradient(#0000, #000 24px 100%);
}
._activityStackFadeBottom_1myqb_11 {
  -webkit-mask-image: linear-gradient(0deg, #0000, #000 24px 100%);
  mask-image: linear-gradient(0deg, #0000, #000 24px 100%);
}
._activityStackFadeBoth_1myqb_21 {
  -webkit-mask-image: linear-gradient(
    #0000,
    #000 24px calc(100% - 24px),
    #0000
  );
  mask-image: linear-gradient(#0000, #000 24px calc(100% - 24px), #0000);
}
