._cssMaterial_wdtwh_1 {
  --avatar-overlay-css-material-elevation: 0 0 transparent;
  border: 1px solid
    color-mix(in srgb, var(--color-token-border) 60%, transparent);
  box-shadow:
    inset 0 1px 1px #fff9,
    inset 0 -1px 2px #fff3,
    var(--avatar-overlay-css-material-elevation);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  will-change: transform, backdrop-filter;
  background: #ffffffe6;
}
._cssMaterialElevated_wdtwh_16 {
  --avatar-overlay-css-material-elevation: 0 3px 16px #0003;
  border-color: #ffffff26;
}
.electron-dark ._cssMaterial_wdtwh_1 {
  box-shadow:
    inset 0 1px 1px #fff3,
    inset 0 -1px 2px #ffffff14,
    var(--avatar-overlay-css-material-elevation);
  background: #202020e6;
}
.electron-dark ._cssMaterialElevated_wdtwh_16 {
  --avatar-overlay-css-material-elevation: 0 3px 16px #00000059;
  border-color: #ffffff1f;
}
._replyStopControl_wdtwh_34:before {
  opacity: 0.2;
  mix-blend-mode: multiply;
  background: #727272;
}
._replyStopControl_wdtwh_34 svg {
  color: #727272;
  mix-blend-mode: normal;
}
@media (hover: hover) and (pointer: fine) {
  ._cssControl_wdtwh_46:enabled:hover {
    color: #f7f7f7;
    background: #202020d1;
  }
  ._cssControl_wdtwh_46:enabled:hover:before {
    opacity: 0;
  }
  ._cssControl_wdtwh_46:enabled:hover svg {
    color: #f7f7f7;
    mix-blend-mode: normal;
  }
  ._replyStopControl_wdtwh_34:enabled:hover,
  ._replyStopControl_wdtwh_34[aria-pressed="true"] {
    background: 0 0;
  }
  ._replyStopControl_wdtwh_34:enabled:hover:before,
  ._replyStopControl_wdtwh_34[aria-pressed="true"]:before {
    opacity: 0.47;
    mix-blend-mode: multiply;
    background: #4c4c4c;
  }
  ._replyStopControl_wdtwh_34:enabled:hover svg,
  ._replyStopControl_wdtwh_34[aria-pressed="true"] svg {
    color: #fff;
    mix-blend-mode: plus-lighter;
  }
  .electron-dark
    ._cssControl_wdtwh_46:not(._replyStopControl_wdtwh_34):enabled:hover {
    background: #ffffff2e;
  }
}
._replyStopControl_wdtwh_34:enabled:active:before {
  opacity: 0.55;
}
