._darkTheme_1xq4w_1 {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --color-token-bg-primary: black;
  --color-token-dropdown-background: #181818f0;
  --color-token-foreground: var(--gray-0);
  --color-token-text-primary: var(--gray-0);
  --color-token-text-secondary: #ffffffa6;
  --color-token-border: #ffffff14;
  --color-token-border-default: #ffffff14;
  --color-token-list-hover-background: #ffffff14;
  --color-token-error-foreground: var(--red-300);
  --color-token-focus-border: #339cffb3;
}
._miniSurface_1xq4w_15 {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: #000000b3;
}
.group:hover ._miniSurface_1xq4w_15,
.group[data-state="delayed-open"] ._miniSurface_1xq4w_15,
._expandedSurface_1xq4w_22 {
  background-color: var(--color-token-bg-primary);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
@media (prefers-reduced-transparency: reduce) {
  ._miniSurface_1xq4w_15 {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: #000000d9;
  }
}
@media (forced-colors: active) {
  ._miniSurface_1xq4w_15,
  ._expandedSurface_1xq4w_22 {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: canvas;
  }
}
