._uacArrow_cwr2x_1 {
  filter: drop-shadow(0 2px 2px #0000003d);
  animation: 1s ease-in-out infinite alternate _uac-arrow-bounce_cwr2x_1;
}
@keyframes _uac-arrow-bounce_cwr2x_1 {
  to {
    transform: translateY(-4px);
  }
}
@media (prefers-reduced-motion: reduce) {
  ._uacArrow_cwr2x_1 {
    animation: none;
  }
}
