.pdfPreviewPage {
  --scale-factor: 1;
  --user-unit: 1;
  --total-scale-factor: calc(var(--scale-factor) * var(--user-unit));
}
.pdfPreviewPage .textLayer {
  z-index: 1;
  text-align: initial;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  line-height: 1;
  position: absolute;
  inset: 0;
  overflow: clip;
}
.pdfPreviewPage .textLayer :is(span, br) {
  color: #0000;
  white-space: pre;
  cursor: text;
  transform-origin: 0 0;
  position: absolute;
}
.pdfPreviewPage .textLayer > :not(.markedContent),
.pdfPreviewPage .textLayer .markedContent span:not(.markedContent) {
  z-index: 1;
}
.pdfPreviewPage .textLayer span.markedContent {
  height: 0;
  top: 0;
}
.pdfPreviewPage .textLayer span[role="img"] {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
.pdfPreviewPage .textLayer ::selection {
  background: color-mix(in srgb, AccentColor, transparent 75%);
}
.pdfPreviewPage .textLayer br::selection {
  background: 0 0;
}
.pdfPreviewPage .textLayer .endOfContent {
  z-index: 0;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  inset: 100% 0 0;
}
.pdfPreviewPage .textLayer.selecting .endOfContent {
  top: 0;
}
.pdfPreviewPage .annotationLayer {
  z-index: 2;
  pointer-events: none;
  transform-origin: 0 0;
  position: absolute;
  inset: 0;
}
.pdfPreviewPage .annotationLayer section {
  box-sizing: border-box;
  text-align: initial;
  pointer-events: auto;
  transform-origin: 0 0;
  position: absolute;
}
.pdfPreviewPage
  .annotationLayer
  :is(.linkAnnotation, .buttonWidgetAnnotation.pushButton)
  > a {
  width: 100%;
  height: 100%;
  cursor: var(--cursor-interaction);
  position: absolute;
  inset: 0;
}
.pdfPreviewPage .annotationLayer .linkAnnotation:not(.hasBorder) > a:hover {
  background-color: #ff03;
}
