._container_1ujd8_1 {
  container-type: inline-size;
}
._grid_1ujd8_5 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@container (width>=581px) {
  ._grid_1ujd8_5 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
