@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(./carlito-cyrillic-ext-400-normal-DYs6OoL4.woff2) format("woff2"),
    url(./carlito-cyrillic-ext-400-normal-UzWcrHdi.woff) format("woff");
  unicode-range:
    U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(./carlito-cyrillic-400-normal-Bzv-FGbj.woff2) format("woff2"),
    url(./carlito-cyrillic-400-normal-BtG3bBmV.woff) format("woff");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(./carlito-greek-ext-400-normal-DnfnTswf.woff2) format("woff2"),
    url(./carlito-greek-ext-400-normal-m-eDGcsW.woff) format("woff");
  unicode-range: U+1F??;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(./carlito-greek-400-normal-Cv5gcxdy.woff2) format("woff2"),
    url(./carlito-greek-400-normal-aOjZpsFX.woff) format("woff");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(./carlito-vietnamese-400-normal-BA1ASEPx.woff2) format("woff2"),
    url(./carlito-vietnamese-400-normal-D0HL2cT_.woff) format("woff");
  unicode-range:
    U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301,
    U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(./carlito-latin-ext-400-normal-DPZWia0-.woff2) format("woff2"),
    url(./carlito-latin-ext-400-normal-D112-ed2.woff) format("woff");
  unicode-range:
    U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(./carlito-latin-400-normal-R-CeALMm.woff2) format("woff2"),
    url(./carlito-latin-400-normal-jEGHVXAP.woff) format("woff");
  unicode-range:
    U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(./carlito-cyrillic-ext-700-normal-BAPhAm-q.woff2) format("woff2"),
    url(./carlito-cyrillic-ext-700-normal-C5O8kkCQ.woff) format("woff");
  unicode-range:
    U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(./carlito-cyrillic-700-normal-Cj42L3Bs.woff2) format("woff2"),
    url(./carlito-cyrillic-700-normal-bxg6f20d.woff) format("woff");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(./carlito-greek-ext-700-normal-COKnZ-5a.woff2) format("woff2"),
    url(./carlito-greek-ext-700-normal-BGl1PQht.woff) format("woff");
  unicode-range: U+1F??;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(./carlito-greek-700-normal-BXGaow7Z.woff2) format("woff2"),
    url(./carlito-greek-700-normal-B-Y_qvTa.woff) format("woff");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(./carlito-vietnamese-700-normal-gG8ns3Xg.woff2) format("woff2"),
    url(./carlito-vietnamese-700-normal-DIEsMQO6.woff) format("woff");
  unicode-range:
    U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301,
    U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(./carlito-latin-ext-700-normal-D2WO8ap1.woff2) format("woff2"),
    url(./carlito-latin-ext-700-normal-9QIvu-gI.woff) format("woff");
  unicode-range:
    U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Carlito;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(./carlito-latin-700-normal-DQ6DOkPk.woff2) format("woff2"),
    url(./carlito-latin-700-normal-CjG3MLqY.woff) format("woff");
  unicode-range:
    U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
